.header1{
    position: fixed;
    width: 100%;
    z-index: 1;
}
.scroll{
    scroll-behavior: smooth;
}
#home{
    padding-top:7em;
    padding-bottom: 3em;
}
.page2{
    padding-top: 4em;
    padding-bottom: 5em;
}
.page3{
    padding-top: 4em;
    padding-bottom: 5em;
}
.formgroup{
    widows: 100%;
}
.btn{
    width: 100%;
}
container1{
    margin-left: 20rem;
    margin-right: 20rem;
    margin-top: 5rem;
}

.footer-pad{
    margin-top: 1rem;
}


*{box-sizing:border-box}

  
.skills {
    text-align: right; /* Right-align text */
    padding-top: 10px; /* Add top padding */
    padding-bottom: 10px; /* Add bottom padding */
    color: white; /* White text color */
  }
  
  .html {width: 90%; background-color:  #4CAF50;} /* Green */
  .css {width: 86%; background-color: #2196F3;} /* Blue */
  .js {width: 80%; background-color: #f44336;} /* Red */
  .bootstrap {width: 75%; background-color: #808080;}
  .mongo {width: 83%; background-color: aqua;}
  
  
  
.skil{
    padding-top: 2em;
  }
